<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>org.trancecode.web.XsltServlet</servlet-class>
    <init-param>
      <param-name>stylesheet-uri</param-name>
      <param-value>/org/trancecode/mobileview/mobileview.xsl</param-value>
    </init-param>
    <init-param>
      <param-name>source-uri</param-name>
      <param-value>/org/trancecode/mobileview/mobileview.xml</param-value>
    </init-param>
    <init-param>
      <param-name>logging-level</param-name>
      <param-value>DEBUG</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
